*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
 
  
}
.footerpart{
  background-color: #DBE7C9;
  color: #0F1035;
  height: 320px;
  width: 100%;
  z-index: 10;
  /* border:saddlebrown 1px solid; */
position:relative;
margin-bottom: 0;
padding: 12px;
padding-top: 20px;
}
 
.insidefooter{
  /* background-color: #0F1035;  */
  /* background-color: #7FC7D9;
  background-image: linear-gradient(90deg,   #7FC7D9, #365486);   */
 
  display: flex;
  flex-direction: row;


}
  
h2{
  text-align: center;
  margin: 10px auto;
}
 p{

  text-align: center;
 }

.footer1{
flex: 1;

display: flex;
flex-direction: column;


}
.footer2{
 
  flex:1;
  
}
.fheader{
  color: #108A00;
  font-size: large;
  font-weight: 700;
  text-align: center;
}
.footer3{
  flex: 1;
  
}
.clogo{
  margin-left: 40px;
  height: 50px;
  width:50px;
}